$secondary: #661ce7;
$primary: #ff6433;
$mint: #00d289;
$black: #1e1b1b;
$grey: #939191;
$light-grey: #f2f2f2;
$steelgrey: #e2e6e9;
$white: #fff;


$media_14: 1400px;
$media_11: 1100px;
$media_9: 930px;